html {
    /*background-color: rgb(49, 65, 88) !important;*/
}

body {
    background-color: rgb(49, 65, 88) !important;
    background-size: cover;
    background-image: url("../img/245.jpg");
    font-family: 'Raleway', sans-serif !important;
}

label {
    color: #009038 !important;
}

.jumbotron {
    background: rgba(224, 232, 223, 0.37) !important;
}

.page-header h1 {
    margin-left: 15px !important;

}
h1 {
    color: #0080c7 !important;
}

h1 small {
    color: #4fa3dd !important;
}

h2 {
    color: #e3001b !important;
}

h2 small {
    color: #ca5260 !important;
}

thead {
    color: #009038 !important;
}

.input {
    margin-bottom: 3%;
}

/*icons*/
.icon {
    padding: 15px;
    cursor: pointer
}

.icon:hover {
    opacity: .2;
}
.icon img {
    height: 65px;
}

.left-icon {
    float: left;
}

.right-icon {
    float: right;
}

.navbar-inverse {
    background-color: #19171c !important;
}

.nav-pills {
    border-width: thin;
    border-bottom-style: solid;
    border-color: #0080c7 !important;
    margin: 5% 0 !important;
}

.active a {
    border-bottom-left-radius: 0% 0% !important;
    border-bottom-right-radius: 0% !important;
}

.modal-footer {
    margin-top: 58%;
}

.table > tbody > tr > td {
    vertical-align: baseline !important;
}

/*Axel Springer-Logo*/
.nav_axelspringer {
    float: right !important;
}

.axelspringer_logo {
    padding-top: 15px;
    padding-right: 15px;
}

